html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.arrays div {
  margin: 0 1rem;
}
.arrays div:first-child {
  margin-left: 0;
}
.arrays div:last-child {
  margin-right: 0;
}
